<header class="main-header">
    <div class="header-logo">
        <a href="/#/" aria-label="Página Inicial">
            <span class="logo-emoji">🧔🏻‍♂️</span>
            <h1 class="main-title">vagner.page</h1>
        </a>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/#/">Home</a></li>
            <li><a href="/#/sobre">Sobre</a></li>
            <li><a href="/#/contato">Contato</a></li>
        </ul>
    </nav>
    <div id="auth-status-placeholder"></div>
</header>