footer {
    background-color: #ff8e8e;
    padding: 20px;
}

/*sections copyright and developed*/

#copyright {
    text-align: center;
    font-size: 20px;
    text-decoration: double;
    margin: 5px;
}

#developer {
/*    display: flex;*/
/*    justify-content: space-between;*/
    text-align: center;
    align-items: center;
    margin: 10px;
}

#developer img {
    max-width:30px;
    max-height:30px;
}

#developer-carousel{
    display: inline-block;
    width: 40%;
    transition: transform 500ms ease-in-out;
}
