article {
    display: inline-block;
    background-color: #fffccc;
    padding: 30px;
    margin: 30px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article h1 {
    text-align: center;
    font-size: 40px;
    color: #483d8b;
    margin: 20px;

}

article h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

article li {
    margin: 10px;
}

article p {
    text-align: center;
    margin: 10px;
}